.stApp{
    background : linear-gradient(
        135deg, 
        #f8fafc 0%,  
        #bee1f8 50%,
        #7beedb 100%
    ) ;    

    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
}

.card {
    background-color: #4082cd;
    border-radius: 16px;
    box-shadow: 0 8px 220px rgba(0, 0, 0, 0.08);
    padding: 25px;
    margin-bottom: 25px ;
}

h1, h2, h3 {
    color: #0f172a ;
}

/* Metrics box */
div[data-testid="metric-container"] {
    background-color: #f8fafc ;
    border-radius: 14px;
    padding: 15px ;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.prediction-box {
    background: linear-gradient(
        135deg ,
        #dcfce7 ,
        #bbf7d0 ,
    ) ;
    padding : 22px ;
    border-radius: 14px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #1453d1;
    margin-top :15px ;
}
